.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  height: 10%;
  background-color: black;
  margin-bottom: 5px;
}

.header {
  background-image: url('../Assets/fondo\ 1.png');
  background-size: cover;
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  padding-top: 12%;
  text-align: left;
  justify-content: left;
}

.subtitle-header {
  font-family: Arial;
  font-size: 28px;
  margin-left: 5%;
  color: #adcfe2;
}

.header-container {
  margin-left: 10%;
}

.title-header {
  font-family: 'Arial Black';
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 5vw;
  margin-left: 5px;
  text-align: center;
  color: #ffffff;
  display: block;
  text-align: left;
}
.title-down-header {
  font-size: 8vw;
  text-align: center;
  color: #ffffff;

  font-family: 'Arial Black';
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-top: -25px;
}

.astronaut {
  position: absolute;
  bottom: -127px;
  right: 180px;
  width: 435px;
  height: 480px;
}

.header p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2vw;
  color: #7d93c6;
  font-style: normal;
  font-variant: normal;
}

.logo-brujula {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 5%;
}

/*Aqui comienza la seccion de informacion y textos */

.info-section {
  width: 100%;
  height: 60vh;
  padding-top: 5%;
  padding-bottom: 20%;
  justify-content: center;
}

.info-container {
  width: 100%;
  height: auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.info-title {
  font-size: 2.3vw;
  color: #001f29;
}

.info-item {
  text-align: left;
  width: 20%;
  margin-left: 8%;
  margin-right: 8%;
}

.info-item p {
  color: #001f29;
  font-weight: 500;
  font-size: 1.35vw;
  font: normal normal normal Arial;
  margin-top: 10px;
}

.info-item h2 {
  color: #001f29;
  margin-bottom: 5px;
  font-size: 1.6vw;
}

/*Aqui comienza la seccion de el album y carrousel*/

.album-section {
  background-image: url('../Assets/fondo\ 1.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 5%;
  text-align: left;
  justify-content: left;
}

.images-container {
  width: 100vw;
  height: auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.album-title {
  font-size: 2.3vw;
  text-align: center;
  color: #ffffff;
}

.img-item {
}

.img-horizontal {
  width: 200px;
  height: 200px;
}
.info-item h2 {
  color: #001f29;
  margin-bottom: 5px;
  font-size: 1.6vw;
}

/*Media query section*/

@media (min-width: 1920px) {
  .astronaut {
    position: absolute;
    bottom: -112px;
    right: 313px;
    width: 500px;
    height: 535px;
  }
}

@media (min-width: 1600px) and (max-width: 1769px) {
  .astronaut {
    position: absolute;
    bottom: -108px;
    right: 234px;
    width: 445px;
    height: 490px;
  }
}
@media (min-width: 1770px) and (max-width: 1919px) {
  .astronaut {
    position: absolute;
    bottom: -108px;
    right: 295px;
    width: 461px;
    height: 500px;
  }
}

@media only screen and (max-width: 900px) {
  .header-container {
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .astronaut {
    display: none;
  }
  .subtitle-header {
    font-family: Arial;
    font-size: 2.5vw;
    margin-left: 0%;
    color: #adcfe2;
  }
  .title-header {
    font-family: 'Arial Black';
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 6vw;
    margin-left: 0px;
    text-align: center;
  }
  .title-down-header {
    font-size: 9vw;
    font-family: 'Arial Black';
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: 700;
    margin-top: -7px;
    text-align: center;
  }
  .header p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 4vw;
    color: #7d93c6;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
  }
}
