.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  height: 10%;
  background-color: black;
  margin-bottom: 5px;
}

.header {
  background-image: url('../Assets/fondo\ 1.png');
  background-size: cover;
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  padding-top: 12%;

  text-align: left;
  justify-content: left;
}

.subtitle-header {
  font-family: Arial;
  font-size: 2vw;
  padding-left: 6%;
  text-align: center;
  color: white;
}

.header-container {
  margin-left: 10%;
}

.title-header {
  font-family: 'Arial Black';
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 5vw;
  margin-left: 5px;
  text-align: center;
  color: #ffffff;
  display: block;
  text-align: left;
}
.title-down-header {
  font-size: 8vw;
  text-align: center;
  color: #ffffff;

  font-family: 'Arial Black';
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-top: -25px;
}

.astronaut {
  position: absolute;
  bottom: -127px;
  right: 180px;
  width: 435px;
  height: 480px;
}

.header p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2vw;
  color: white;
  font-style: normal;
  font-variant: normal;
}

.logo-brujula {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 5%;
}
.logo-brujula img {
  width: 160px;
  height: 160px;
}
/*Aqui comienza la seccion de informacion y textos */

.info-section {
  width: 100%;
  height: 60vh;
  padding-top: 5%;
  padding-bottom: 20%;
  justify-content: center;
}

.info-container {
  width: 100%;
  height: auto;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-title {
  font-size: 2.3vw;
  color: #001f29;
}

.info-item {
  text-align: left;
  width: 20%;
  margin-left: 8%;
  margin-right: 8%;
}

.info-item p {
  color: #001f29;
  font-weight: 500;
  font-size: 1.35vw;
  font: normal normal normal Arial;
  margin-top: 10px;
}

.info-item h2 {
  color: #001f29;
  margin-bottom: 5px;
  font-size: 1.6vw;
}

/*Aqui comienza la seccion de el album y carrousel*/

.album-section {
  background-image: url('../Assets/fondo\ 1.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 5%;
  text-align: left;
}

.images-container {
  width: 100vw;
  height: auto;
  padding-top: 40px;
  display: flex;

  justify-content: center;
}

.album-title {
  font-size: 2.3vw;
  text-align: center;
  color: #ffffff;
}

.img-item {
  flex-direction: column;
  width: auto;
  margin: 0px 10%;
  height: 100%;
}

.img-item img {
  width: 350px;
  height: 200px;
  display: block;
  margin-bottom: 40px;
}

.img-item img:hover {
  transform: scale(1.2);
  transition: 300ms;
}
.info-item h2 {
  color: #001f29;
  margin-bottom: 5px;
  font-size: 1.6vw;
}

/*Aqui comienza la seccion de contacto*/
.contact-section {
  width: 100%;
  padding-bottom: 100px;
  text-align: left;
}

.images-container {
  width: 100vw;
  height: auto;
  display: flex;

  justify-content: center;
}

.contact-title {
  font-size: 3.3vw;
  text-align: center;
  margin-bottom: 0;
  color: #001f29;
}
.contact-subtitle {
  font-size: 1.3vw;
  text-align: center;
  color: #001f29;
  font-weight: 700;
}

.icon-item {
  flex-direction: column;
  width: auto;
  margin: 0px 10%;
  height: 100%;
}

.icons-container {
  text-align: center;
}
.icons-container img {
  width: 5%;
  height: 5%;
  border: rgb(27, 13, 13);
  border-width: 1px;
  border-style: solid;
  border-radius: 100%;
  margin: 15px 1%;
}

/*Media query section*/

@media (min-width: 1920px) {
  .astronaut {
    position: absolute;
    bottom: -112px;
    right: 313px;
    width: 500px;
    height: 535px;
  }
}

@media (min-width: 1600px) and (max-width: 1769px) {
  .astronaut {
    position: absolute;
    bottom: -108px;
    right: 234px;
    width: 445px;
    height: 490px;
  }
}
@media (min-width: 1770px) and (max-width: 1919px) {
  .astronaut {
    position: absolute;
    bottom: -108px;
    right: 295px;
    width: 461px;
    height: 500px;
  }
}

@media (min-width: 1100px) and (max-width: 1400px) {
  .astronaut {
    position: absolute;
    bottom: -101px;
    right: 88px;
    width: 385px;
    height: 400px;
  }
  .header {
    height: 80vh;
  }
}

@media only screen and (max-width: 500px) {
  .logo-brujula img {
    width: 130px;
    height: 130px;
  }
  .header {
    height: 100vh;
  }
  .header-container {
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .astronaut {
    display: none;
  }
  .subtitle-header {
    font-family: Arial;
    font-size: 3.5vw;
    margin-left: 0%;
    color: white;
  }
  .title-header {
    font-family: 'Arial Black';
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 9vw;
    margin-left: 0px;
    text-align: center;
  }
  .title-down-header {
    font-size: 15vw;
    font-family: 'Arial Black';
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: 700;
    margin-top: -7px;
    text-align: center;
  }
  .header p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 5vw;
    color: white;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
  }
  .info-section {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 10%;
    justify-content: center;
  }
  .info-container {
    width: 100%;
    height: auto;
    padding-top: 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-title {
    font-size: 4.3vw;
    color: #001f29;
  }
  .info-item {
    width: 55%;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
  }

  .info-item p {
    color: #001f29;
    font-weight: 500;
    font-size: 3.35vw;
    font: normal normal normal Arial;
    margin-top: 10px;
  }

  .info-item h2 {
    color: #001f29;
    margin-bottom: 5px;
    font-size: 3.6vw;
  }
}
