.div img {
  width: 100%;
  height: 100%;
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;

  height: auto;
}

.carousel-title {
  background-color: white;
  color: #001f29;
  position: absolute;
  left: 0;
  font-size: 3vw;
  top: -2%;
  width: 100%;
  padding: 20px;
}

.carousel .slide img {
  width: 90%;
  vertical-align: top;
  border: 0;
}
